:root {
	--contact-color: wheat;
	--heading-font: "Ubuntu Mono", monospace;
	--default-font: "Fjalla One", sans-serif;
}

h1 {
	font-size: 96px;
	font-family: var(--heading-font);
	font-weight: bold;
}
h2 {
	font-size: 64px;
}
.hero {
	background-color: #a0b6d5;
	text-align: center;
	padding: 180px 20px;
}
p {
	font-size: 16px;
}

.hero p {
	font-family: var(--default-font);
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.hero h2 {
	font-family: var(--default-font);
	font-weight: normal;
	font-size: 24px;
	line-height: 2;
}

.btn-contact {
	background: var(--contact-color);
	border-radius: 4px;
	color: black;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.btn-projects {
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	border-radius: 4px;
	color: var(--contact-color);
	border: 1px solid var(--contact-color);
	font-weight: bold;
}
