:root {
	--contact-color: #edbb99;
	--heading-font: "Ubuntu Mono", monospace;
	--default-font: "Fjalla One", sans-serif;
}
body {
	background-color: #fae5d3;
}

h1 {
	font-size: 96px;
	font-family: var(--heading-font);
	font-weight: bold;
	letter-spacing: -3px;
}
h2 {
	font-size: 50px;
	line-height: normal;
	font-family: var(--heading-font);
	letter-spacing: -1px;
}
p {
	font-size: 16px;
	font-family: var(--default-font);
}
.nav-link {
	font-family: var(--default-font);
	font-size: 20px;
}
.nav-item {
	padding: 0 40px 0;
}
.logo {
	max-width: 220px;
}
.hero {
	background-color: #fae5d3;
	text-align: center;
	padding: 80px 20px;
}
.hero h1 {
	font-size: 96px;
	font-family: var(--heading-font);
	font-weight: bold;
	letter-spacing: -3px;
}
.hero p {
	font-family: var(--default-font);
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}
.hero h2 {
	font-family: var(--default-font);
	font-weight: normal;
	font-size: 24px;
	line-height: 2;
}
.content-container {
	padding: 100px 10px;
}
.content,
h1,
h2 {
	font-size: 64px;
	line-height: 1;
}
.content,
h2 {
	font-size: 25px;
}
.content,
h3 {
	font-size: 25px;
	line-height: 1.5;
	margin: 20px 0 0;
}
.content,
p {
	font-size: 14px;
}
.content {
	margin: 30px;
}

.btn-contact {
	background: var(--contact-color);
	border-radius: 4px;
	color: black;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	text-decoration: none;
}
.btn-contact:hover {
	color: white;
}

.btn-projects {
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	border-radius: 4px;
	color: var(--contact-color);
	border: 1px solid var(--contact-color);
	font-weight: bold;
	background: white;
}
.mainContent {
	background-color: #fae5d3;
	text-align: center;
	padding: 0 20px 60px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 27px;
		line-height: 1;
	}
	.hero,
	.mainContent {
		padding: 100px 0;
	}
	.project-description {
		display: block;
		display: center;
		margin: 0 20px;
	}
	.project-link {
		display: block;
		text-align: center;
		margin: 0 20px;
	}
}
