:root {
	--contact-color: #edbb99;
	--heading-font: "Ubuntu Mono", monospace;
	--default-font: "Fjalla One", sans-serif;
}
body {
	background-color: #fae5d3;
}

h1 {
	font-size: 96px;
	font-family: var(--heading-font);
	font-weight: bold;
}
h2 {
	font-size: 50px;
	line-height: normal;
	font-family: var(--heading-font);
}
p {
	font-size: 16px;
	font-family: var(--default-font);
}
.hero {
	background-color: #fae5d3;
	text-align: center;
	padding: 180px 20px;
}

.hero p {
	font-family: var(--default-font);
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.hero h2 {
	font-family: var(--default-font);
	font-weight: normal;
	font-size: 24px;
	line-height: 2;
}
.about-section {
	padding: 160px 20px;
}
.about-section,
h1,
h2 {
	font-size: 64px;
	line-height: 1;
}
.about-section,
h2 {
	font-size: 25px;
}
.about-projects {
	margin: 30px;
}

.btn-contact {
	background: var(--contact-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	text-decoration: underline;
}

.btn-projects {
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	border-radius: 4px;
	color: var(--contact-color);
	border: 1px solid var(--contact-color);
	font-weight: bold;
	background: white;
}
.mainContent {
	background-color: #fae5d3;
	text-align: center;
	padding: 0 20px 60px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 27px;
		line-height: 1;
	}
	.hero,
	.mainContent {
		padding: 100px 0;
	}
	.project-description {
		display: block;
		display: center;
		margin: 0 20px;
	}
	.project-link {
		display: block;
		text-align: center;
		margin: 0 20px;
	}
}
